<!DOCTYPE html>
<html lang="en">
<head>
  <%= require('raw-loader!./meta.html').default %>
  <title>search</title>
  <script><%= require('raw-loader!babel-loader!../../node_modules/lib-flexible/flexible.js').default %></script>
</head>
<body>
  <div id="root"><!--HTML_PLACEHOLDER--></div>  <!--设置占位符，可以动态插入组件-->
  <!-- <script type="text/javascript" src="https://11.url.cn/now/lib/16.2.0/react.min.js"></script>
  <script type="text/javascript" src="https://11.url.cn/now/lib/16.2.0/react-dom.min.js"></script> -->
  <!--INITIAL_DATA_PLACEHOLDER-->
</body>
</html>